.category {
  padding: 23px 40px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;

  &__item {
    margin-right: 50px;
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
    }
  }

  &__sale {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #d74444;
    background: none;
    border: none;
    cursor: pointer;
  }
}
